[Desktop Entry]
Name=poEdit
Comment=Gettext catalogs editor
MimeType=application/x-po;application/x-gettext
Exec=poedit
Icon=poedit.png
Terminal=false
Type=Application
