# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.sh]
end_of_line = lf

[*.{sln,vcproj,vcxproj*}]
end_of_line = crlf

[/.gitmodules]
indent_style = tab
end_of_line = lf
