*.mo
*.o
*.obj
*.res
*.exe
*.exe.manifest
*.pdb
*.vcproj.*.user
*.ncb
*.suo
*.sdf
*.opensdf
/ipch/
Makefile
Makefile.in
admin/config.guess
admin/config.sub
admin/compile
admin/depcomp
admin/install-sh
admin/missing
autom4te.cache
configure
aclocal.m4
macosx/dsa_priv.pem
docs/poedit.1
Release/
Debug/

/deps/bin-win
/deps/bin-osx
/deps/.ant-targets-build.xml
/deps/db/build_windows/Win32/
/deps/custom_build/Debug*
/deps/custom_build/Release*
/deps/custom_build/vc_mswu/
/deps/custom_build/vc_mswud/
/deps/gettext/build-aux/test-driver
/deps/icu4c/bin/
/deps/icu4c/lib/
/deps/icu4c/source/data/out/
/deps/icu4c/source/extra/uconv/pkgdatain.txt
/deps/icu4c/source/stubdata/stubdatabuilt.txt
/deps/icu4c/source/tools/genrb/x86/
/deps/icu4c/source/tools/icuinfo/x86/
/deps/icu4c/include/
/deps/icu4c/source/test/testdata/out/
/deps/pro/

xcuserdata
*.xccheckout

/packages/
/win32/distrib-*
