[submodule "deps/sparkle"]
	path = deps/sparkle
	url = https://github.com/vslavik/Sparkle.git
	ignore = untracked
[submodule "deps/winsparkle"]
	path = deps/winsparkle
	url = git://github.com/vslavik/winsparkle.git
	ignore = untracked
[submodule "deps/wx"]
	path = deps/wx
	url = git://github.com/wxWidgets/wxWidgets.git
	ignore = untracked
[submodule "deps/lucene/LucenePlusPlus"]
	path = deps/lucene/LucenePlusPlus
	url = git://github.com/vslavik/LucenePlusPlus.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = git://github.com/madler/zlib.git
[submodule "deps/letsmove"]
	path = deps/letsmove
	url = git://github.com/potionfactory/LetsMove.git
[submodule "deps/rekit"]
	path = deps/rekit
	url = https://github.com/vslavik/REKit.git
