[submodule "deps/sparkle"]
	path = deps/sparkle
	url = git://github.com/vslavik/CarbonSparkle.git
	ignore = untracked
[submodule "deps/winsparkle"]
	path = deps/winsparkle
	url = git://github.com/vslavik/winsparkle.git
	ignore = untracked
[submodule "deps/wx"]
	path = deps/wx
	url = git://github.com/wxWidgets/wxWidgets.git
	ignore = untracked
[submodule "deps/boost"]
	path = deps/boost
	url = git://github.com/boostpro/boost-release.git
