*.mo
*.o
*.obj
*.res
*.exe
*.exe.manifest
*.pdb
win32/*.vcproj
*.vcproj.*.user
*.sln
*.ncb
*.suo
Makefile
Makefile.in
admin/config.guess
admin/config.sub
admin/depcomp
admin/install-sh
admin/missing
autom4te.cache
configure
aclocal.m4
macosx/dsa_priv.pem
docs/poedit.1
win32/.bakefile_gen.state
win32/makefile.vc
win32/compiled_xrc.cpp
icons/osx/*.icns
icons/win32/*.ico
icons/win32/*/*.ico
icons/win32/installer_wizard_image.bmp
distrib/
win32/Release/
win32/Debug/
src/compiled_xrc.cpp
src/.deps/
src/poedit

build.local.properties
deps/bin-gettext
deps/bin-osx
deps/libiconv/builddir
deps/gettext/builddir
deps/wx/builddir
deps/db/build_windows/Win32
deps/db/build_windows/db_static_my.vcproj*
deps/wx/build/msw/vc_msw*
deps/wx/utils/wxrc/vc_msw*
deps/wx/contrib/build/stc/vc_msw*
deps/wx/lib/vc_lib

xcuserdata
