*.mo
*.o
*.obj
*.res
*.exe
*.exe.manifest
*.pdb
*.vcproj.*.user
*.ncb
*.suo
Makefile
Makefile.in
admin/config.guess
admin/config.sub
admin/depcomp
admin/install-sh
admin/missing
autom4te.cache
configure
aclocal.m4
macosx/dsa_priv.pem
docs/poedit.1
Release/
Debug/

build.local.properties
/deps/bin-win
/deps/bin-osx
/deps/.ant-targets-build.xml
/deps/db/build_windows/Win32/
/deps/vs2012_build/vc_mswu/
/deps/vs2012_build/vc_mswud/

xcuserdata

/win32/packages/
/win32/.nuget/NuGet.exe
