[Desktop Entry]
Name=Poedit
GenericName=Translations editor
MimeType=application/x-po;application/x-gettext;text/x-gettext-translation;text/x-po;application/x-gettext-translation;text/x-gettext-translation-template;application/x-xliff+xml;
Exec=poedit %F
Icon=net.poedit.Poedit
Terminal=false
Type=Application
Categories=Development;Translation;
StartupNotify=true
Keywords=translate;translation;po;gettext;xliff;
