<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gettext.Tools" version="0.22.3" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.1661.34" targetFramework="native" />
  <package id="MSBuildTasks" version="1.5.0.196" targetFramework="native" developmentDependency="true" />
  <package id="WinSparkle" version="0.8.0" targetFramework="native" />
</packages>