[Desktop Entry]
Name=Poedit
GenericName=Gettext catalogs editor
GenericName[ca]=Editor de catàlegs del Gettext
GenericName[cs]=Editor katalogů Gettext
GenericName[da]=Gettext-katalogredigering
GenericName[de]=Katalogeditor für Gettext
GenericName[eo]=Gettext-a katalogredaktilo
GenericName[es]=Editor de catálogos de Gettext
GenericName[eu]=Gettext katalogo editatzailea
GenericName[fr]=Éditeur de catalogues Gettext
GenericName[hu]=Gettext fájlokat szerkesztő program
GenericName[it]=Editor di cataloghi Gettext
GenericName[kk]=Gettext каталогтар түзетушісі
GenericName[ky]=Gettext каталогдор редактору
GenericName[lt]=Gettext katalogų redaktorius
GenericName[nl]=Gettext-vertaalhulpmiddel
GenericName[pl]=Edytor pakietów gettext
GenericName[pt_BR]=Editor de catálogos Gettext
GenericName[sk]=Editor katalógov Gettext
GenericName[sv]=Gettext Översättningsverktyg
GenericName[vi]=Phần mềm sửa bản dịch Gettext
MimeType=application/x-po;application/x-gettext;text/x-gettext-translation;text/x-po;application/x-gettext-translation;text/x-gettext-translation-template;
Exec=poedit %F
Icon=poedit
Terminal=false
Type=Application
Categories=Development;Translation;
StartupNotify=true
Keywords=Translate;po;gettext;
