[Desktop Entry]
Name=Poedit
Comment=Gettext catalogs editor
Comment[de]=Katalogeditor für Gettext
Comment[eu]=Gettext katalogo editatzailea
Comment[fr]=Outil de traduction
Comment[lt]=Gettext katalogų redaktorius
Comment[nl]=Gettext-vertaalhulpmiddel
Comment[pl]=Edytor pakietów gettext
Comment[sv]=Gettext Översättningsverktyg
Comment[ky]=Gettext каталогдор редактору
Comment[kk]=Gettext каталогтар түзетушісі
Comment[cs]=Editor katalogů Gettext
GenericName=Gettext catalogs editor
GenericName[de]=Katalogeditor für Gettext
GenericName[eu]=Gettext katalogo editatzailea
GenericName[fr]=Outil de traduction
GenericName[lt]=Gettext katalogų redaktorius
GenericName[nl]=Gettext-vertaalhulpmiddel
GenericName[pl]=Edytor pakietów gettext
GenericName[sv]=Gettext Översättningsverktyg
GenericName[ky]=Gettext каталогдор редактору
GenericName[kk]=Gettext каталогтар түзетушісі
GenericName[cs]=Editor katalogů Gettext
MimeType=application/x-po;application/x-gettext;text/x-gettext-translation;text/x-po;
Exec=poedit %F
Icon=poedit
Terminal=false
Type=Application
Categories=Development;Translation;
StartupNotify=true
