# Version Tracking Ignore Rules for Snappy
# https://git-scm.com/docs/gitignore
## Ignore built snap packages
*.snap

## Ignore stages autogeneraged files
/parts/
/prime/
/stage/

## Seemingly unneeded folder, don't track it for now
/snap/.snapcraft/
