#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_CATALAN, SUBLANG_NEUTRAL
BEGIN
    222, "Traducció PO"
    223, "Traducció compilada"
    224, "Plantilla de traducció"
    225, "Traducció XLIFF"
END
