#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
    222, "Traduction PO"
    223, "Traduction compilée"
    224, "Modèle de traduction"
    225, "Traduction XLIFF"
    226, "Document JSON"
    227, "Traduction Flutter"
    228, "Ressource RESX"
    229, "Traduction Qt"
END
