#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_BOSNIAN, SUBLANG_BOSNIAN_BOSNIA_HERZEGOVINA_LATIN
BEGIN
    222, "PO prijevod"
    223, "Kompajlirani prijevod"
    224, "Predložak prijevoda"
    225, ""
END
