#pragma code_page(65001)
#include <windows.h>
#include "windows_strings_base.rc"
#include "windows_strings-Albanian.rc"
#include "windows_strings-Arabic.rc"
#include "windows_strings-Armenian.rc"
#include "windows_strings-Azeri.rc"
#include "windows_strings-Basque.rc"
#include "windows_strings-Belarusian.rc"
#include "windows_strings-Bosnian.rc"
#include "windows_strings-Bulgarian.rc"
#include "windows_strings-Catalan.rc"
#include "windows_strings-Chinese_Simplified.rc"
#include "windows_strings-Chinese_Traditional.rc"
#include "windows_strings-Corsican.rc"
#include "windows_strings-Croatian.rc"
#include "windows_strings-Czech.rc"
#include "windows_strings-Danish.rc"
#include "windows_strings-Dutch.rc"
#include "windows_strings-English_UK.rc"
#include "windows_strings-Estonian.rc"
#include "windows_strings-Finnish.rc"
#include "windows_strings-French.rc"
#include "windows_strings-Frisian.rc"
#include "windows_strings-Galician.rc"
#include "windows_strings-German.rc"
#include "windows_strings-Greek.rc"
#include "windows_strings-Hebrew.rc"
#include "windows_strings-Hungarian.rc"
#include "windows_strings-Icelandic.rc"
#include "windows_strings-Indonesian.rc"
#include "windows_strings-Irish.rc"
#include "windows_strings-Italian.rc"
#include "windows_strings-Japanese.rc"
#include "windows_strings-Kazakh.rc"
#include "windows_strings-Korean.rc"
#include "windows_strings-Lithuanian.rc"
#include "windows_strings-Malay.rc"
#include "windows_strings-Norwegian_Bokmal.rc"
#include "windows_strings-Occitan.rc"
#include "windows_strings-Persian.rc"
#include "windows_strings-Polish.rc"
#include "windows_strings-Portuguese.rc"
#include "windows_strings-Portuguese_Brazilian.rc"
#include "windows_strings-Punjabi.rc"
#include "windows_strings-Romanian.rc"
#include "windows_strings-Russian.rc"
#include "windows_strings-Serbian_Cyrillic.rc"
#include "windows_strings-Slovak.rc"
#include "windows_strings-Slovenian.rc"
#include "windows_strings-Spanish.rc"
#include "windows_strings-Swedish.rc"
#include "windows_strings-Tajik.rc"
#include "windows_strings-Turkish.rc"
#include "windows_strings-Ukrainian.rc"
#include "windows_strings-Uzbek.rc"
#include "windows_strings-Vietnamese.rc"
