#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_CORSICAN, SUBLANG_NEUTRAL
BEGIN
    222, "Traduzzione PO"
    223, "Traduzzione compilata"
    224, "Mudellu di traduzzione"
    225, "Traduzzione XLIFF"
    226, "Ducumentu JSON"
    227, "Traduzzione Flutter"
    228, "Risorsa RESX"
    229, "Traduzzione Qt"
END
