#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
BEGIN
    222, "Traducción en PO"
    223, "Traducción compilada"
    224, "Plantilla de traducción"
    225, "Traducción XLIFF"
END
