#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_AFRIKAANS, SUBLANG_NEUTRAL
BEGIN
    222, "PO-vertaling"
    223, "Gekompileerde Vertaling"
    224, "Vertalingsjabloon"
    225, "XLIFF-vertaling"
    226, "JSON-dokument"
    227, "Flutter-vertaling"
    228, "RESX-hulpbron"
    229, "Qt-vertaling"
END
