#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_NEUTRAL
BEGIN
    222, "Переклад PO"
    223, "Скомпільований переклад"
    224, "Шаблон перекладу"
    225, "Переклад XLIFF"
    226, "Документ JSON"
    227, "Переклад Flutter"
    228, "Ресурс RESX"
    229, "Переклад Qt"
END
