#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL
BEGIN
    222, "PO 번역"
    223, "컴파일한 번역"
    224, "번역 템플릿"
    225, "XLIFF 번역"
    226, "JSON 문서"
    227, "Flutter 번역"
    228, "RESX 리소스"
    229, "Qt 번역"
END
