#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_OCCITAN, SUBLANG_NEUTRAL
BEGIN
    222, "Traduccion PO"
    223, "Traduccion compilada"
    224, "Modèl de traduccion"
    225, "Traduccion XLIFF"
END
