#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_UYGHUR, SUBLANG_NEUTRAL
BEGIN
    222, "PO تەرجىمە"
    223, "ھاسىللانغان تەرجىمە"
    224, "تەرجىمە قېلىپى"
    225, "XLIFF تەرجىمە"
    226, "JSON پۈتۈك"
    227, "Flutter تەرجىمە"
    228, "RESX مەنبە"
    229, "Qt تەرجىمە"
END
