#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
BEGIN
    222, "PO-översättning"
    223, "Kompilerad översättning"
    224, "Översättningsmall"
    225, "XLIFF-översättning"
END
