#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
    222, "PO-Übersetzung"
    223, "Kompilierte Übersetzung"
    224, "Übersetzungsvorlage"
    225, "XLIFF-Übersetzung"
END
