#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_UZBEK, SUBLANG_NEUTRAL
BEGIN
    222, "PO Tarjima"
    223, "Kompilyatsiyalangan tarjima"
    224, "Tarjima namunasi"
    225, "XLIFF Tarjima"
    226, "JSON hujjat"
    227, "Flutter tarjimasi"
    228, "RESX resursi"
    229, "Qt tarjimasi"
END
