#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_ESTONIAN, SUBLANG_NEUTRAL
BEGIN
    222, "PO tõlge"
    223, "Kompileeritud tõlge"
    224, "Tõlkemall"
    225, "XLIFF Tõlge"
    226, "JSON dokument"
    227, "Flutteri tõlge"
    228, "RESX ressurss"
    229, "Qt tõlge"
END
