#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_BELARUSIAN, SUBLANG_NEUTRAL
BEGIN
    222, "Пераклад PO"
    223, "Скампіляваны файл перакладу"
    224, "Шаблон перакладу"
    225, "Пераклад XLIFF"
    226, "Дакумент JSON"
    227, "Пераклад Flutter"
    228, "Рэсурс RESX"
    229, "Пераклад Qt"
END
