#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_NEUTRAL
BEGIN
    222, "PO Oversættelse"
    223, "Kompileret oversættelse"
    224, "Oversættelsesskabelon"
    225, "XLIFF-oversættelse"
END
