#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_CROATIAN, SUBLANG_CROATIAN_CROATIA
BEGIN
    222, "PO prijevod"
    223, "Kompilirani prijevod"
    224, "Predložak za prijevod"
    225, "XLIFF prijevod"
END
