#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_IRISH, SUBLANG_NEUTRAL
BEGIN
    222, "Aistriúchán PO"
    223, "Aistriúchán Tiomsaithe"
    224, "Teimpléad Aistriúcháin"
    225, "Aistriúchán XLIFF"
    226, "Doiciméad JSON"
    227, "Aistriúchán Flutter"
    228, "Acmhainn RESX"
    229, "Aistriúchán Qt"
END
