#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL
BEGIN
    222, "Tradução PO"
    223, "Tradução compilada"
    224, "Modelo de tradução"
    225, "Tradução XLIFF"
    226, "Documento JSON"
    227, "Tradução Flutter"
    228, "Recurso RESX"
    229, "Tradução Qt"
END
