#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
BEGIN
    222, "Файл перевода PO"
    223, "Скомпилированный файл перевода"
    224, "Шаблон перевода"
    225, "XLIFF перевод"
END
