#pragma code_page(65001)
STRINGTABLE
LANGUAGE LANG_GALICIAN, SUBLANG_NEUTRAL
BEGIN
    222, "Tradución PO"
    223, "Tradución compilada"
    224, "Modelo de tradución"
    225, "Tradución de XLIFF"
END
