<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>JSON Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>PO Translation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.poedit.po</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Translation Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.pot</string>
				<string>net.poedit.pot</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Compiled Translation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.poedit.mo</string>
			</array>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>XLIFF Translation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.xliff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Flutter Translation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.poedit.arb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>RESX Resource</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.poedit.resx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Xcode Localization Catalog</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.xcloc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Qt Translation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-2-transport-stream</string>
				<string>net.poedit.qt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Poedit</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${MARKETING_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Poedit</string>
			<key>CFBundleURLName</key>
			<string>net.poedit.PoeditURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>poedit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSEnvironment</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/opt/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>MDItemKeywords</key>
	<string>PO,XLIFF,gettext,WordPress,i18n,l10n,translation,localization,flutter</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Poedit needs to access your source files to scan them for translatable strings.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Poedit needs to access your source files to scan them for translatable strings.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Poedit needs to access your source files to scan them for translatable strings.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Poedit needs to access your source files to scan them for translatable strings.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1999-2025 Václav Slavík. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Poedit needs to access your source files to scan them for translatable strings.</string>
	<key>NSPrincipalClass</key>
	<string>wxNSApplication</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Poedit needs to access your source files to scan them for translatable strings.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://poedit.net/updates_v2/osx/appcast</string>
	<key>SUPublicEDKey</key>
	<string>JtKhfqlsV9+4nLuMD3U8RO06ZXGocWQYDDqVT/9ha7Y=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PO Translation</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePO-badge</string>
				<key>UTTypeIconText</key>
				<string>PO</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.poedit.po</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pology.nedohodnik.net/doc/user/en_US/ch-poformat.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>po</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-po</string>
					<string>application/x-gettext</string>
					<string>text/x-gettext-translation</string>
					<string>text/x-po</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Translation Template</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePOT-badge</string>
				<key>UTTypeIconText</key>
				<string>POT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.poedit.pot</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pology.nedohodnik.net/doc/user/en_US/ch-poformat.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pot</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-gettext-translation-template</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compiled Translation</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FileMO-badge</string>
				<key>UTTypeIconText</key>
				<string>MO</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.poedit.mo</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.gnu.org/software/gettext/manual/html_node/MO-Files.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mo</string>
					<string>gmo</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-gettext-translation</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flutter Translation</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePO-badge</string>
				<key>UTTypeIconText</key>
				<string>ARB</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.poedit.arb</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/google/app-resource-bundle/wiki/ApplicationResourceBundleSpecification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-arb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RESX Resource</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePO-badge</string>
				<key>UTTypeIconText</key>
				<string>RESX</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.poedit.resx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>resx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/microsoft-resx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Qt Translation</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePO-badge</string>
				<key>UTTypeIconText</key>
				<string>Qt</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.poedit.qt</string>
			<key>UTTypeReferenceURL</key>
			<string>https://doc.qt.io/qt-6/linguist-ts-file-format.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/vnd.trolltech.linguist</string>
					<string>application/x-linguist</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Translation Template</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePOT-badge</string>
				<key>UTTypeIconText</key>
				<string>templ</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.pot</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pology.nedohodnik.net/doc/user/en_US/ch-poformat.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pot</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-gettext-translation-template</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XLIFF Translation</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FilePO-badge</string>
				<key>UTTypeIconText</key>
				<string>XLIFF</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.xliff</string>
			<key>UTTypeReferenceURL</key>
			<string>http://docs.oasis-open.org/xliff/xliff-core/xliff-core.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xliff</string>
					<string>xlf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-xliff+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSON Document</string>
			<key>UTTypeIdentifier</key>
			<string>public.json</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Localization Catalog</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.xcloc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcloc</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
