[Desktop Entry]
Name=poEdit
Comment=Gettext catalogs editor
Comment[fr]=Outil de traduction
MimeType=application/x-po;application/x-gettext
Exec=poedit
Icon=poedit.png
Terminal=false
Type=Application
Categories=Application;Development;
