[Desktop Entry]
Encoding=UTF-8
Name=Poedit
Comment=Gettext catalogs editor
Comment[fr]=Outil de traduction
MimeType=application/x-po;application/x-gettext;application/x-gettext-translation;text/x-gettext-translation;text/x-po;
Exec=poedit
Icon=poedit
Terminal=false
Type=Application
Categories=Application;Development;Translation;
StartupNotify=true
