<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Poedit File Previews</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>net.poedit.po</string>
				<string>net.poedit.pot</string>
				<string>com.microsoft.powerpoint.pot</string>
				<string>org.oasis-open.xliff</string>
				<string>org.oasis.xliff</string>
				<string>net.poedit.arb</string>
				<string>com.apple.xcode.xcloc</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PreviewProvider</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015-2025 Václav Slavík. All rights reserved.</string>
</dict>
</plist>
