body
  {
  padding: 0px 0px 0px 26px;
  background: #ffffff; 
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 70%;
  }

div
  {
  width: 90%;
  border: 2px solid #999999;
  padding: 4px 8px;
  background: #cccccc;
  }
  
h1, h2, h3, h4
  {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-left: -26px;
  }
  
h1
  {
  font-size: 140%;
  margin-top: 1em;
  margin-bottom: .6em; 
  }
  
h2
  {
  font-size: 115%;
  margin-top: 1em;
  margin-bottom: .6em; 
  }
  
h3
  {
  font-size: 100%;
  margin-left: 0px;
  margin-bottom: 0.2em;
  margin-top: 1.5em;
  }
  
h4
  {
  font-size: 100%;
  margin-top: 1em;
  margin-bottom: .6em; 
  }

h5
  {
  margin-bottom: 1em;
  margin-top: 1.5em;
  }

/* -- subheading -- */

h4.glossary
  { 
  margin-left: -16px;
  margin-top: 1em;
  margin-bottom: -0.5em;
  }

ul p, ol p, dl p
  {
  margin-left: 0em;
  }

p
  {
  margin-top: .6em;
  margin-bottom: .6em;
  }

dl
  {
  margin-top: 0em; 
  }

dd
  {
  margin-bottom: 0em;  
  margin-left: 1.5em; 
  }

dt
  {
  margin-top: .6em; 
  }

ul, ol
  {
  margin-top: .6em;   
  margin-bottom: 0em;
  }
  
ol
  {
  margin-left: 3.6em; 
  } 
  
ul
  {
  list-style-type: disc; 
  margin-left: 1.9em; 
  }

li
  {
  margin-bottom: .6em;
  }

ul ol, ol ol
  {
  list-style-type: lower-alpha;
  {

pre
  {
  margin-top: .6em;
  margin-bottom: .6em; 
  }

pre,code
  {
  font: 100% Courier New, Courier, mono; 
  color: #660000;
  }

table
  {
  width: 90%;
  background: #999999;
  margin-top: 0em;
  margin-bottom: .3em;
  background: #ffffff;
  }
    
th
  { 
  padding: 2px 4px;
  background: #dddddd;
  text-align: left;
  font-size: 70%;
  vertical-align: top;
  margin: .25em;
  }
    
td
  { 
  margin: .25em;
  padding: 2px 4px;
  background: #eeeeee;
  vertical-align: top;
  font-size: 70%;
  }


tr
  { 
  margin: .25em;
  vertical-align: top;
 }



a:link
  {
  color: #0066ff;
  }
  
a:visited
  {
  color: #996600; 
  }
  
a:hover
  {
  color: #cc9900;
  }

.indent
  {
  margin-left: 1.5em; 
  }

/* -------------- tables -------------- */

.headerbarshade
  {
  position: relative;
  margin: 0;
  left: 10px;
  top: 2;
  width: 100%;
  height: 21px;
  }

.headerbartable
  {
  position: absolute;
  margin: 0;
  left: 0;
  top: 2;
  width: 100%;
  height: 21px;
  }

table.headerbartable td, table.headerbarshade td
  {
  background:  #99ccff;
  border-left: 2px solid #ffffff;
  margin: 0;
  padding: 3px 0px 4px 0px;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
  }

table.headerbartable td.header
  {
  padding-left: 4px;
  text-align: left;
  }

/* -------------- other -------------- */

div.footer
  {
  width: 100%;
  border: none;
  background: #ffffff;
  margin-top: 18pt;
  padding-bottom: 12pt;
  color: #228B22;
  text-align: center;
  font-size: 76%;
  }
