# EditorConfig for Snap Packaging
# http://EditorConfig.org

## This config only applies to this folder
root = true

[*.{yaml,yamllint}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
